/part08-Part08_03.LiquidContainers/target/
/part08-Part08_04.LiquidContainers2/target/
/part08-Part08_06.Nicknames/target/
/part08-Part08_07.Abbreviations/target/
/part08-Part08_08.PrintMeMyHashmap/target/
/part08-Part08_10.IOweYou/target/
/part08-Part08_11.SameDate/target/
/part08-Part08_13.VehicleRegistry/target/
/part08-Part08_14.DictionaryOfManyTranslations/target/
/part08-Part08_15.StorageFacility/target/
/part09-Part09_02.PersonAndSubclasses/target/
/part09-Part09_03.Warehousing/target/
/part09-Part09_04.DifferentKindsOfBoxes/target/
/part09-Part09_06.InterfaceInABox/target/
/part09-Part09_07.ListAsAMethodParameter/target/
/part09-Part09_08.MapAsAMethodParameter/target/
/part09-Part09_09.SetAsMethodParameter/target/
/part09-Part09_10.OnlineShop/target/
/part09-Part09_11.Herds/target/
/part09-Part09_12.Animals/target/
/part10-Part10_01.AverageOfNumbers/target/
/part10-Part10_02.AverageOfSelectedNumbers/target/
/part10-Part10_05.PrintingUserInput/target/
/part10-Part10_06.LimitedNumbers/target/
/part10-Part10_07.UniqueLastNames/target/
/part10-Part10_11.WageOrder/target/
/part10-Part10_13.LiteracyComparison/target/
/part10-Part10_14.Literature/target/
/part10-Part10_15.RegularExpressions/target/
/part10-Part10_16.EnumAndIterator/target/
/part10-Part10_17.SortThemCards/target/
/part11-Part11_08.FirstPackages/target/
/part11-Part11_10.FlightControl/target/
/part11-Part11_12.SensorsAndTemperature/target/
/part11-Part11_13.SaveableDictionary/target/
/part12-Part12_01.Hideout/target/
/part12-Part12_02.Pipe/target/
/part12-Part12_03.SumTheseForMe/target/
/part12-Part12_04.List/target/
/part12-Part12_05.HashMap/target/
/part12-Part12_06.Numbers/target/
/part12-Part12_07.Die/target/
/part12-Part12_08.Lottery/target/
/part12-Part12_09.ArrayAsAString/target/
/part12-Part12_10.MagicSquare/target/
/part13-Part13_01.MyFirstApplication/target/
/part13-Part13_02.ButtonAndLabel/target/
/part13-Part13_03.ButtonAndTextField/target/
/part13-Part13_04.BorderPane/target/
/part13-Part13_05.TextStatistics/target/
/part13-Part13_06.Notifier/target/
/part13-Part13_07.TextStatisticsPart2/target/
/part13-Part13_08.UserTitle/target/
/part13-Part13_09.MultipleViews/target/
/part13-Part13_10.Greeter/target/
/part13-Part13_11.Joke/target/
/part13-Part13_12.VocabularyPractice/target/
/part13-Part13_13.TicTacToe/target/
/part14-Part14_01.Shanghai/target/
